/***LSE site resets***/
.sys_layout_three_column_three p , .sys_layout_three_column_three ul  {font-size:.75em;}
label {font-size:1em !important;}

/***CareerBuilder styling***/
#careerBuilder {
	width: 478px;
	font-size: 100%;
}

#careerBuilder, #careerBuilder ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#careerBuilder a, #careerBuilder a:visited, #careerBuilder .trigger-link {
	color: #F00;
	text-decoration: none;
	cursor:pointer;
}

#careerBuilder a:hover, #careerBuilder a:active, #careerBuilder .trigger-link:hover{
	text-decoration: underline;
}


#careerBuilder ul#missing-skill-list {
	overflow: auto;
}

#careerBuilder ul#missing-skill-list li {
	padding: 0;
	margin: 0;
}

#careerBuilder ul#missing-skill-list li a {
	padding: 10px;
	margin: 5px 10px 5px 0;
	display: block;
	background: #F2F2F2;
	float: left;
	width: 43%;
}

#careerBuilder .importance-level {
	font-weight: bold;
}

#careerBuilder h2, #careerBuilder h3 {
	margin: 0;
	font-weight: normal;
}

#careerBuilder h2 {
	padding: 5px 0 0 12px;
	font-size: 1.5em;
}

#careerBuilder h3 {
	font-size: 1.75em;
	padding-bottom: 5px;
}

#careerBuilder h4 {
	margin: 5px 0 0 0;
	font-weight: bold;
	font-size: 1.2em;
}

#careerBuilder .suggestion h4 {
	margin: 0 0 10px 0;
}

#careerBuilder .toggler span.toggle-arrow{
	font-weight: normal;
	font-size: 1.4em;
	vertical-align: -2px;
	text-decoration: none;
}

#careerBuilder .toggler span.number {
	float: right;
	font-weight: bold;
	font-size: 2em;
	margin: 0 9px 0 0;
}

#careerBuilder h2 .subtitle {
	font-size: 0.8em;
	vertical-align: 10px;
	margin-left: 5px;
	font-weight: bold;
}

#careerBuilder p {
	padding: 0 10px 15px 15px;
	margin:0;
	font-size: 12px;
}

#careerBuilder .sub-content {
	font-size: 12px;
	overflow: auto;
}

#careerBuilder .suggestion {
	margin: 15px 0;
	padding: 10px;
	background: #F2F2F2;
	padding-bottom: 0;
}

#careerBuilder li li div.suggestion p {
	margin:0;
}

#careerBuilder .toggler {
	cursor: pointer; 
}

#careerBuilder li.section {
	font-family: Arial, sans serif;
	overflow: auto;
	color: #fff;
	margin: 0 0 8px 0;
	padding: 0 0 3px 0;
}

#careerBuilder li li {
	padding: 5px 10px 5px 10px;
}

#careerBuilder li li p{
	padding: 0 10px 15px 0;
}

#careerBuilder li li#review-sub p {
	padding: 5px 0;
}

#careerBuilder input {
	margin-bottom: 7px;
}

#careerBuilder .check-option {
	display: inline;
	vertical-align: 2px;
}

#careerBuilder .check-option span {
	font-weight: bold;
}

#careerBuilder .check-option .sub-content {
	padding: 0 10px 10px 23px;
}

#careerBuilder .selection-summary {
	width: 100%;
}

#careerBuilder ul.barrier-list {
	list-style: none;
}

#careerBuilder ul.barrier-list li {
	padding: 3px 0 0 0;
	font-size: 12px;
	overflow: visible;
}

#careerBuilder .bulletlist {
	margin: 0 0 15px 13px;
}

#careerBuilder .bulletlist li:first-child {
	padding-top: 0;
}

#careerBuilder ul#skills-summary, #careerBuilder ul#values-summary,
#careerBuilder .bulletlist {
	list-style-type: square;
}

#careerBuilder ul#skills-summary li, #careerBuilder ul#values-summary li,
#careerBuilder .bulletlist li {
	padding: 3px 0 0 0;
	margin-left: 17px;
	font-size: 12px;
	overflow: visible;
}

#careerBuilder .subsection {
	color: #000;
	margin: 5px 5px 0 5px;
}

#careerBuilder .section-level-buttons {
	padding: 5px;
}

#careerBuilder .section-level-buttons button {
	border-color: white !important;
}

#careerBuilder button.next,
#careerBuilder button.get-summary,
#careerBuilder button.skip-section,
.popup button.next,
.popup button.get-summary,
#careerBuilderGuide button.get-summary,
#save-button, #clear-button,
#start-card-sort {
	float: right;
	font-weight: bold;
	color: #FFF;
	border-style: solid;
	border-width: 2px;
	padding: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

#careerBuilder button.skip-section, 
#careerBuilder button.get-summary,
.popup button.get-summary,
#careerBuilderGuide button.get-summary,
#start-card-sort {
	float: left;
}

#careerBuilder #who button.next,
#start-card-sort  {
	margin-top: 5px;
}

.popup {
	display: none;
	z-index: 9999;
	color: #000000;
	background-color: #ececec;
	-moz-box-sizing: border-box;
	margin-left: -200px;
	width: 400px;
	position: fixed;
	top: 30%;
	left: 50%;
	padding: 5px 15px;
	border-bottom: 2px solid #000000;
	border-right: 1px solid #000000;
	border-radius: 10px;
}

.popup button.next,
.popup button.get-summary,
#careerBuilderGuide button.get-summary,
#save-button, #clear-button {
	background-color: #333;
	border-color: #333;
	margin-bottom: 5px;
	cursor: pointer;
}

.popup button.next:hover,
.popup button.get-summary:hover,
#save-button:hover, #clear-button:hover,
#careerBuilderGuide button.get-summary:hover {
	background-color: #666;
}

#save-button,
#clear-button,
#careerBuilderGuide button.get-summary {
	width: 100%;
}

#careerBuilderGuide {
	background: #F2F2F2;
	padding: 10px;
	width: 220px;
	overflow: auto;
}

#careerBuilderGuide h5 {
	margin-top: 0;
}

#careerBuilderGuide ul {
	padding-left: 17px;
}

/****************** Colours ********************/
#who, #who .subsection {
	background: #F58621;
	border-bottom: 2px solid #935014;
	border-right: 1px solid #935014;
	border-radius: 10px;
}

#who button.next, #who button.get-summary, #start-card-sort {
	background-color: #F58621;
	border-color: #F58621;
}

#who #skills-sub, #who button.next:hover, 
#who button.get-summary:hover, #start-card-sort:hover {
	background: #F79E4D;
}

#who #pdam-sub {
	background: #F9B67A;
}

#who #values-sub {
	background: #FBCFA6;
}

#who #summary-sub {
	background: #FDE7D3;
}

#research, #research .subsection {
	background: #1999D4;
	border-bottom: 2px solid #0F5C7F;
	border-right: 1px solid #0F5C7F;
	border-radius: 10px;
}

#research button.next, #research button.get-summary {
	background-color: #1999D4;
	border-color: #1999D4;
}

#research #sectors-sub, #research button.next:hover,
#research button.get-summary:hover {
	background: #5EB8E1;
}

#research #roles-sub {
	background: #8CCCEA;
}

#research #employers-sub {
	background: #BAE0F2;
}

#decision, #decision .subsection {
	background: #936AB0;
	border-bottom: 2px solid #58406A;
	border-right: 1px solid #58406A;
	border-radius: 10px;
}

#decision button.next, 
#decision button.skip-section,
#decision button.get-summary {
	background-color: #936AB0;
	border-color: #936AB0;
}

#decision #forme-sub, #decision button.next:hover,
#decision button.skip-section:hover,
#decision button.get-summary:hover {
	background: #A988C0;
}

#decision #barriers-sub {
	background: #BEA6D0;
}

#decision #review-sub {
	background: #D4C3DF;
}

#decision #further-sub {
	background: #E9E1EF;
}

#achieving, #achieving .subsection {
	background: #2FB64B;
	border-bottom: 2px solid #1C6D2D;
	border-right: 1px solid #1C6D2D;
	border-radius: 10px;
}

#achieving button.next, #achieving button.get-summary {
	background-color: #2FB64B;
	border-color: #2FB64B;
}

#achieving #cv-sub, #achieving button.next:hover,
#achieving button.get-summary:hover {
	background: #59C56F;
}

#achieving #application-sub {
	background: #82D393;
}

#achieving #interview-sub {
	background: #ACE2B7;
}

#achieving #assessment-sub {
	background: #D5F0DB;
}

#who-head .subtitle, #who-head .number  {
	color: #FBCFA6;
}

#research-head .subtitle, #research-head .number {
	color: #8CCCEA;
}

#decision-head .subtitle, #decision-head .number {
	color: #C9B4D8;
}

#achieving-head .subtitle, #achieving-head .number  {
	color: #ACE2B7;
}

/******************CARD SORTER******************/
#cs-container {
    width: 717px;
    z-index: 9999;
    position: relative;
    display: table;
    top: 10%;
    left: 0;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-bottom: 2px solid #000000;
    border-right: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
}

#cs-container #cs-header {
	overflow: auto;
	margin-bottom: 10px;
}

#cs-container #cs-title {
	margin-top: 0;
	display: inline;
	font-size: 1.8em;
}

#cs-container h3 {
	margin-left: 0;
}

#cs-container #control-panel #button-container {
	float: right;
	margin: 0;
	padding-right: 0;
}

#cs-container button {
    display: block;
    width: 140px;
    background: #F58621;
    border-style: solid;
	border-width: 2px;
	border-color: #F58621;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    margin-right: 0;
}
    
    #cs-container button:first-child {
        margin-top: 0;
    }
    
    #cs-container button:hover {
        background: #F79E4D;
    }
    
    #cs-container button[disabled], #cs-container button[disabled]:hover {
        background: #898989;
        color: #cecece;
        border: 2px solid #898989;
    }

    #cs-container #close-cs {
    	width: auto;
    	height: 39px;
    	font-size: 2em;
    	padding: 0 0.3em;
    	margin: 0;
    	float: right;
}

#cs-container #playing-area {
    display: table;
    min-height: 455px;
}

#cs-container #playing-area, #follow-up {
    overflow: auto;
}

#cs-container #control-panel {
	display: table;
}

	#cs-container #instructions {
		width: 27%;	
	}
	
	#cs-container #button-container .button-sub-container {
		float: left;
	}

#cs-container #control-panel > div {
    float: left;
	
    padding: 10px;
	padding-bottom: 0;
    display: table-cell;
}

#cs-container .col {
    width: 164px;
    padding: 7px;
    display: table-cell;
}

#cs-container .col:nth-child(even) {
    background: #ececec;
}

    #cs-container .importance-level {
        margin: 0 auto;
        display: inline;
    
        font-size: 1em;
        font-weight: bold;
}

#cs-container .col .value-card {
    box-shadow: 2px 2px 5px #999;
    margin: 8px 0;
    position: relative;
}

#cs-container .value-card {
    cursor: move;
    border-radius: 10px;
    padding: 10px;
    background: #FBCFA6;
    height: 75px;
    font-size: 0.8em;
    width: 140px;
}
    
    #cs-container .value-name {
        margin: 0;
        font-weight: bold;
    }
    
    #cs-container .value-description {
        margin: 5px 0 0 0;
    }

#cs-container #deck-container {
    width: 168px;
    height: 103px;
    border: 2px solid #ececec;
    border-left-color: #898989;
    border-top-color: #898989;
    position: relative;
}

#cs-container #deck-container .value-card {
    position: absolute;
    margin: 3px 0 0 3px;
    border-bottom: 1px solid #C9A685;
    border-right: 1px solid #C9A685;
}

#cs-container #deck-container .value-card:last-child {
        display: block;
        background: #FBCFA6;
        border: none;
    }
    
    #cs-container #deck-container .value-card:nth-child(odd) {
        border-bottom: 1px solid #E2BA95;
        border-right: 1px solid #E2BA95;
    }

#cs-container #deck-container .value-card.selected, #cs-container .value-card.selected {
    border: 2px solid blue;
}

#card-sorter #templates * {
    display: none !important;
}

#cs-container .hidden {
    display: none;
}