#careerBuilder {
	width: 478px;
	font-size: 100%;
}

#careerBuilder, #careerBuilder ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#careerBuilder a, #careerBuilder a:visited {
	color: #F00;
	text-decoration: none;
}

#careerBuilder a:hover, #careerBuilder a:active{
	text-decoration: underline;
}


#careerBuilder ul#missing-skill-list {
	overflow: auto;
}

#careerBuilder ul#missing-skill-list li {
	padding: 0;
	margin: 0;
}

#careerBuilder ul#missing-skill-list li a {
	padding: 10px;
	margin: 5px 10px 5px 0;
	display: block;
	background: #F2F2F2;
	float: left;
	width: 43%;
}

#careerBuilder h2, #careerBuilder h3 {
	margin: 0;
	font-weight: normal;
}

#careerBuilder h2 {
	padding: 7px 0 0 15px;
	font-size: 1.5em;
}

#careerBuilder h3 {
	font-size: 1.75em;
}

#careerBuilder h4 {
	margin: 10px 0 0 0;
	font-weight: bold;
	font-size: 1.2em;
}

#careerBuilder .toggler span.toggle-arrow{
	font-weight: normal;
	font-size: 1.6em;
	vertical-align: -2px;
	text-decoration: none;
}

#careerBuilder .toggler span.number {
	vertical-align: -10px;
	font-weight: bold;
	font-size: 2em;
	margin: 0;
	text-decoration: none;
}

#careerBuilder #who-head .number {
	padding: 0 0 0 232px;
	color: #F79E4D;
}

#careerBuilder #research-head .number {
	padding: 0 0 0 198px;
	color: #5EB8E1
}

#careerBuilder #decision-head .number {
	padding: 0 0 0 190px;
	color: #B397C8;
}

#careerBuilder #achieving-head .number {
	padding: 0 0 0 278px;
	color: #59C56F;
}

#careerBuilder p {
	padding: 0 10px 15px 15px;
	margin:0;
	font-size: 12px;
}

#careerBuilder .sub-content {
	font-size: 12px;
}

#careerBuilder .suggestion {
	margin-top: 15px;
	background: #F2F2F2;
	border-radius: 10px;
}

#careerBuilder li li div.suggestion p {
	margin:0;
	padding: 10px;
}

#careerBuilder .toggler {
	cursor: pointer; 
}

#careerBuilder li.section {
	font-family: Arial, sans serif;
	overflow: auto;
}

#careerBuilder li li {
	padding: 5px 10px 10px 10px;
}

#careerBuilder li li p{
	padding: 10px 10px 10px 0;
}

#careerBuilder input {
	margin-bottom: 7px;
}

#careerBuilder .check-option {
	display: inline;
	vertical-align: 2px;
}

 #careerBuilder .check-option span {
	font-weight: bold;
}

#careerBuilder .check-option .sub-content {
	padding: 0 10px 10px 23px;
}

#careerBuilder .selection-summary {
	width: 100%;
}

#careerBuilder .selection-summary td {
	width: 50%;
}

#careerBuilder ul.barrier-list, #careerBuilder ul#skills-summary, #careerBuilder ul#values-summary {
	list-style-type: square;
}

#careerBuilder ul.barrier-list li, #careerBuilder ul#skills-summary li, #careerBuilder ul#values-summary li {
	padding: 3px 0 0 0;
	margin-left: 17px;
	font-size: 12px;
	overflow: visible;
}

#careerBuilder .section {
	color: #fff;
	margin: 0 0 8px 0;
	padding: 0 0 3px 0;
}

#careerBuilder .subsection {
	color: #000;
	margin: 5px 5px 0 5px;
}

/*Colours*/
#who, #who .subsection {
	background: #F58621;
	border-bottom: 2px solid #935014;
	border-right: 1px solid #935014;
	border-radius: 10px;
}

#who #skills-sub {
	background: #F79E4D;
}

#who #pdam-sub {
	background: #F9B67A;
}

#who #values-sub {
	background: #FBCFA6;
}

#who #summary-sub {
	background: #FDE7D3;
}

#research, #research .subsection {
	background: #1999D4;
	border-bottom: 2px solid #0F5C7F;
	border-right: 1px solid #0F5C7F;
	border-radius: 10px;
}

#research #sectors-sub {
	background: #5EB8E1;
}

#research #roles-sub {
	background: #8CCCEA;
}

#research #importance-sub {
	background: #BAE0F2;
}

#decision, #decision .subsection {
	background: #936AB0;
	border-bottom: 2px solid #58406A;
	border-right: 1px solid #58406A;
	border-radius: 10px;
}

#decision #barriers-sub {
	background: #B397C8;
}

#decision #review-sub {
	background: #C9B4D8;
}

#decision #further-sub {
	background: #DFD2E7;
}

#achieving, #achieving .subsection {
	background: #2FB64B;
	border-bottom: 2px solid #1C6D2D;
	border-right: 1px solid #1C6D2D;
	border-radius: 10px;
}

#achieving #cv-sub {
	background: #59C56F;
}

#achieving #application-sub {
	background: #82D393;
}

#achieving #interview-sub {
	background: #ACE2B7;
}

#achieving #assessment-sub {
	background: #D5F0DB;
}